.brand-color {
  color: rgb(255, 0, 0);
}

#brand-bg {
  background-color: rgb(255, 0, 0);
}

.food:hover {
  box-shadow: 10px 10px 40px lightgrey;
  border-radius: 25px;
}

.food-btn:hover {
  background-color: rgb(255, 0, 0);
}